.appContainer {
    max-width: 500px;
}

li {
    padding: 10px;
    border-style: solid;
    border-color: green;
    border-width: 0 0 1px;

    .status {
        font-size: 0.8em;
        background: lightgrey;
        padding: 0.3em 1em;
        border-radius: 1em;
        float: right;
    }

    .itemControls {
        padding-top: 0.5em;
        display: none;
        text-align: right;

        button {
            border-radius: 0;
            padding: 0.3em 1em;
        }
        
        button:first-child {
            border-radius: 1em 0 0 1em;
        }
        
        button:last-child {
            border-radius: 0 1em 1em 0;
        }
    }
}

li:first-child {
    border-width: 1px 0;
}

li:hover {
    .itemControls {
        display: block;
    }
}

li.active .title {
    font-weight: bold;
}

li.completed .title {
    text-decoration: line-through;
}

li.suspended .title {
    color: grey;
}

ul {
    list-style-type: none;
    padding: 0;
}

form {

    .title {
        width: 100%;
        box-sizing: border-box;
        font-size: 1.2em;
    }

    button {
        width: 50%;
        vertical-align: middle;
        font-size: 1.2em;
    }
}

.radioStatus {
    padding: 1em;
    margin: 1em 0;

    input {
        margin-right: 1.5em;
    }
}

.addButton { font-size: 1.2em; }

.langButton {
    font-size: 1.2em;
    float: right;
}

.material-icons {
    vertical-align: middle;
    padding-right: 0.5em;
}

.material-icons.md-12 { font-size: 1.2em; }
